body{
    font-family: 'Poppins', sans-serif;
}

.section-padding{
padding:96px 200px;
}
.text-center{
    text-align: center;
}
.title{
    font-size: 30px;
    color: #202428;
}

.btn {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    margin-top: 26px;
    display: inline-block;
    background-image: linear-gradient(45deg, #c74780, #ED4B72);
    transition: background .3s;
}
.btn:hover {
    background-image: linear-gradient(-45deg, #c74780, #ED4B72);
}


/** Hero section**/
.hero-section{
    background-image: url('./images/header-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}
.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap-inner{
    width: 50%;
    padding-left:15px;
    padding-right: 15px;
}
.my-name{
    font-size: 50px;
    color: #EC4C7A;
    font-weight: 600;
    margin: 0px;

}
.wrap-inner img{
    width: 100%;
}
.wrap-inner p{
    font-size: 16px;
    color: #707070;
}
/** Biography section**/
.biography-section{
    background-image: url('./images/biography-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
/** My lastest  section**/
.latest-work-section{
    background-image: url('./images/latest-work-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.latest-work-section .title {
    padding-bottom: 53px;
}
.my-latest-works{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.my-latest-single-work{
    padding:10px;
    flex-basis: 33.3%;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    transition: all .3s;;
}
.my-latest-single-work img{
    width: 100%;
}
.my-latest-single-work:after {
    position: absolute;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.my-latest-single-work:hover:after {
    opacity: 1;
    visibility: visible;
}
/** Testimonial  section**/
.testimonial-section{
    background-image: url('./images/footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.client-info p {
    padding: 0px;
    margin: 0px;
    /* padding-bottom: 6px; */
    font-size: 14px;
    color: #707070;
}

.client-info h3 {
    margin: 0px;
}

.contact-me h4 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}
.client-feedback {
    width: 500px;
}
.client-feedback p {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 19px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.contact-me {
    background-image: linear-gradient(45deg, #c74780, #EC4B75);
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    width: 590px;
}

.contact-me p {
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    margin: 0px;
    padding-bottom: 25px;
}

footer {
    text-align: center;
    font-size: 16px;
    color: #929292;
    padding: 50px 0px;
}